* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 25px;
  background-image: url(green_background.jpg);
  color: black;
}

a, p {
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 9px black;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  color: #C0C0C0;
  text-align: center;
}

h3 {
  color: grey;
  margin-bottom: 5px;
  text-align: center;
}

input,
textarea {
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  max-width: 240px;
  width: 100%;
}

.button {
  display: block;
  margin-top: 20px;
}

.page {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.elapsed {
  color: gold;
  text-align: center;
  font-size: 40px;
}

.message {
  width: 500px;
  height: 2.5em;
  color: black;
}

.time {
  color: gold;
}

.board {
  width: 500px;
  display: flex;
}

.rows{
  flex: 0 0 140%;
}

.card {
  width: 100px;
  height: 150px;
  background-color: black;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 5px;
  border: 2px solid black;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 98% 98%;
  background-position: center;
}

.card1 {
  background-image: url(ace_of_spades.png);
}
.card2 {
  background-image: url(king_of_clubs.png);
}
.card3 {
  background-image: url(queen_of_hearts.png);
}
.card4 {
  background-image: url(jack_of_diamonds.png);
}
.card5 {
  background-image: url(10_of_spades.png);
}
.card6 {
  background-image: url(9_of_hearts.png);
}
.card7 {
  background-image: url(8_of_diamonds.png);
}
.card8 {
  background-image: url(7_of_clubs.png);
}
.card9 {
  background-image: url(red_joker.png);
}

.hidden {
  background-image: url(card%20back%20red.png);
}

.paired {
  border-color: gold;
  cursor: default;
}

@media (max-width: 800px){
  .rows{
    flex: 0 0 100%;
  }
  
  .card{
    width: 72px;
    height: 112px;
  }
}

@media (max-width: 420px){
  .board{
    display: flex;
    margin-left: 25px;
  }
  
  .rows{
    flex: 0 0 70%;
  }
  
  .message {
    width: 300px;
    margin-left: 20px;
  }
  
  h1{
    font-size: 30px;
    height: 60px;
    width: 300px;
    margin-left: 20px;
  }
  
  .elapsed{
    margin-left: -150px;
  }
}

@media (max-width: 376px){
  .board{
    margin-left: 5px;
  }
}
